<nav id="index-nav">
  <a href="/collections">Collections</a>
  <a href="/types">Style</a>
</nav>


<div id="product-index">
  <% @products.each do | product | %>

    <span class="products">

      <a href="/products/<%= product['product_id']%>">
        <img class="product-images" src="<%= product['image']%>" alt="image of <%= product['description'] %> "><br>
        <p><%= product['product_name'] %> | <%= product.collection['collection_year'] %> Collection</p><br>
        <p>$<%= product['price']%></p>
        <p></p>
      </a>

    </span>

  <% end %>

</div>
