<p>goods page</p>


<div class="product-index">
  <% @products.each do | product | %>

    <span class="products">

      <a href="/products/<%= product['product_id']%>">
        <img class="product-images" src="<%= product['image']%>" alt="image of <%= product['description'] %> ">
        <p><%= product['product_name'] %></p>
        <p><%= product['price']%></p>
      </a>

    </span>

  <% end %>

</div>
